<!DOCTYPE html>
<html ng-app="shoppingList">
<head>
	<title>Shopping list</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">

	<!--build:css css/styles.min.css-->
	<link rel="stylesheet" href="css/app.css">
	<!--endbuild-->
</head>
<body>

	<div ng-controller="ShoppingListController">
		<h1>My new Angular shopping list</h1>
		<ul class="list-group">
			<li ng-repeat="ingredient in ingredientsList" class="list-group-item">





				<div>{{ ingredient.name }}</div>
				<div ng-repeat="recipe in ingredient.recipes" class="label label-pill label-primary">{{ recipe.name }}</div> 
				<div class="label label-pill label-default">{{ ingredient.quantity }}</div>			
			</li>		
		</ul>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>

	<!--build:js js/main.min.js -->
	<script src="/app.js"></script>
	<script src="/services/dataAPI.js"></script>
	<!-- endbuild -->

</body>
</html>