<!DOCTYPE html>
<html ng-app="shoppingList">
<head>
	<title>Shopping list</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">

	<!--build:css css/styles.min.css-->
	<link rel="stylesheet" href="css/app.css">
	<!--endbuild-->
</head>
<body>

	<div ng-controller="ShoppingListController" class="shopping-list">
		<h1>My new Angular shopping list</h1>

		<h2>Dinner</h2>
		<ul>
			<li><a href="" ng-click="" id="salmon-salad">Salmon salad</a></li>
			<li><a href="" ng-click="" id="steak">Steak, courgettes and mushrooms</a></li>
			<li><a href="" ng-click="" id="zoodle-beef-ragu">Zoodle beef ragu</a></li>
			<li><a href="" ng-click="" id="slow-cooked-meat">Slow cooked meat with vegetables</a></li>
			<li><a href="" ng-click="" id="roasted-sardines">Roasted sardines with vegetables</a></li>
			<li><a href="" ng-click="" id="garlic-fish-with-zucchini-noodles">Garlic fish with zucchini noodles</a></li>
			<li><a href="" ng-click="" id="chicken-legs-and-kale">Chicken legs and kale</a></li>
		</ul>

		<h2>Lunch</h2>
		<ul>
			<li><a href="" ng-click="" id="salmon">Salmon</a></li>
			<li><a href="" ng-click="" id="chicken">Chicken</a></li>
		</ul>

		<ul class="list-group">
			<li ng-repeat="ingredient in ingredientsList" ng-class="{ 'shopping-list__option' : ingredient.option === true }" class="list-group-item">
				<a href="" class="shopping-list__link" ng-click="selected = !selected" ng-class="selected ? 'shopping-list__link--selected' : 'shopping-list__link--not-selected'">
					<div>{{ ingredient.name }}</div>
					<div ng-repeat="recipe in ingredient.recipes" class="label label-pill label-primary">{{ recipe.name }}</div> 
					<div class="label label-pill label-default">{{ ingredient.quantity }}</div>
				</a>	
			</li>		
		</ul>
	</div>

	<script src="bower_components/angular/angular.min.js"></script>

	<!--build:js js/main.min.js -->
	<script src="/app.js"></script>
	<script src="/services/dataAPI.js"></script>
	<!-- endbuild -->

</body>
</html>